
{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form method="POST">
        <div class="row">
            <div class="input-group mb-4">
                <input type="text" class="form-control header"  value="{{ hash }}" name="configID" readonly>
            </div>
        </div>
        {% for value in headers %}
        
        <div class="row">
                <div class="input-group mb-4">
                    <input type="text" class="form-control header"  value="{{ value }}" name="header">
                </div>
        </div>
        
        {% endfor %}
        <div class="row">
            <div class="input-group mb-4">
                <input type="text" class="form-control header">
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-4">
                <button type="submit" class="btn btn-primary mb-3">Save</button>
                <button type="button" class="btn btn-outline-secondary">Add Row</button>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}
